/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav {
  color: #444;
}

.brand-logo {
  background-color: #26a69a;
  color: white;
  
}

#logo-container {
  padding-left: 10px;
  padding-right: 10px;
  
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  padding-top: 10px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.intro {
  margin-left: 50%;
  width: 100%;
  margin-top: 40%;
  
}

.pcard {
  font-size: 17px;
}

#download-button {
  margin-bottom: 5%;
}

.header {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}

#tab1, #tab2, #tab3 {
  height: 350px;
}